@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,700&display=swap');

body {
    background: linear-gradient(45deg, #020024, #090979, #00d4ff);    height: 100vh; /* Define a altura da página para ocupar toda a tela */
    margin: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #000;
    border-radius: 10px;
}

.card-body {
    padding: 20px; 
}

.form-group {
    margin-bottom: 15px; 
}

.form-control {
    border: 1px solid #000; 
}

.card-footer {
    
    padding: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5); 
    background: linear-gradient(45deg, #020024, #090979, #00d4ff);
}

